.z-logo {
    display: block;
    margin-top: 2.396vw;
    margin-bottom: 5.469vw;
}

.home-title {
    margin-top: 3.906vw;
}

.project-tab {
    margin-top: 2vw;
}

.home-title-sub {
    color: var(--secondaryHome);
    font-size: 1.823vw;
    margin-top: -1.563vw;
    font-family:'Poppins';
}

.about {
    font-family: 'Poppins';
    color: var(--background);
    background: var(--secondaryHome);
    padding: 20px 20vw;
    font-size: 1.563vw;
}

.about > * {
    margin: 30px;
}

.external-links {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.external-links > div {
    margin-left: 2vw;
    margin-right: 2vw;
}

@media (max-width: 700px) {
    .z-logo {
        display: block;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    
    .home-title {
        margin-top: 6vw;
    }
    
    .home-title-sub {
        color: var(--secondaryHome);
        font-size: 5vw;
        margin-top: -4vw;
        font-family:'Poppins';
    }

    .about {
        font-family: 'Poppins';
        color: var(--background);
        background: var(--secondaryHome);
        padding: 20px 0%;
        font-size: 4.563vw;
    }

    .external-links > div {
        margin-left: 2.25vw;
        margin-right: 2.25vw;
    }
}