@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "../../App.css";

.poptext-front {
  font-size: 3.646vw;
  position: absolute;
  top: -0.156vw;
  left: -0.156vw;
  right: 0.156vw;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 1px;
}

.poptext-back {
  font-size: 3.646vw;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 1px;
}

@media (max-width: 700px) {

  .poptext-front {
    font-size: 10vw;
    position: absolute;
    top: -0.456vw;
    left: -0.456vw;
    right: 0.456vw;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }

  .poptext-back {
    font-size: 10vw;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    -webkit-text-stroke-width: 1px;
  }
  
}