@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "../../App.css";

.poptext-front {
  position: absolute;
  top: -3px;
  left: -3px;
  right: 3px;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 1px;
}

.poptext-back {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 1px;
}