@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "../../App.css";

.title-front {
  font-size: 3.646vw;
  color: var(--secondaryHome);
  -webkit-text-stroke-color: var(--primaryHome);
}

.title-back {
  font-size: 3.646vw;
  color: var(--background);
  -webkit-text-stroke-color: var(--primaryHome);
}

.poptext-front {
  position: absolute;
  top: -3px;
  left: -3px;
  right: 3px;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 1px;
}

.poptext-back {
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  -webkit-text-stroke-width: 1px;
}

@media (max-width: 700px) {
  .title-front {
    font-size: 10vw;
    color: var(--secondaryHome);
    -webkit-text-stroke-color: var(--primaryHome);
  }
  
  .title-back {
    font-size: 10vw;
    color: var(--background);
    -webkit-text-stroke-color: var(--primaryHome);
  }
}