:root {
    --background:#FFFFFF;
    --primaryColor:#000000;
    --secondaryColor:#4c4c4c;
  }

.sticky {
    position: sticky;
    top: 0px;
    background-color: white;
}

.back-button {
    position: absolute;
    height: 70%;
    top: 1.1vw;
    left: -20.833vw;
}

.text-area > * {
    text-align: left;
    font-family:'Poppins';
    padding-left: 10%;
    padding-right: 10%;
}

.text-area h2 {
    text-align: center;
    font-size: 1.563vw;
}

.text-area h1 {
    font-size: 2.500vw;
}

.text-area p {
    font-size: 1.354vw;
    line-height: 2;
}

.text-area .section:nth-child(2n-1) {
    color: white;
    background-color: var(--secondaryColor);
}

.text-area div {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 700px) {
    .back-button {
        position: absolute;
        height: 70%;
        top: 2.9vw;
        left: -15vw;
    }

    .text-area h2 {
        text-align: center;
        font-size: 4.689vw;
    }

    .text-area h1 {
        font-size: 7.500vw;
    }
    
    .text-area p {
        font-size: 4.062vw;
        line-height: 2;
    }
}