.keycap-hover{
    opacity: 0;
    transform: translate(0, 26.42px);
    transition: opacity 300ms, transform 300ms;
  }
  
  .keycap {
    opacity: 1;
    transition: opacity 300ms, transform 300ms ease-out;
  }

  .hitbox {
    fill: #ffffff00;
  }