@import "../../App.css";

.logo {
    width: 22.552vw;
    height: 26.042vw;
}

.back-button {
    width: 50%;
    height: 6.615vw;
}

.keycap-svg {
    width: 28.385vw;
    height: 19.167vw;
    margin: 3vw;
}

.keycap-z-hover {
    opacity: 0;
    transform: translate(0, 26.42px);
    transition: opacity 500ms, transform 300ms;
}
  
.keycap-z {
    opacity: 1;
    transition: opacity 300ms, transform 300ms ease-out;
}

.keycap-back-hover {
    opacity: 0;
    transform: translate(0, 6.56px);
    transition: opacity 500ms, transform 300ms;
}
  
.keycap-back {
    opacity: 1;
    transition: opacity 300ms, transform 300ms ease-out;
}

.keycap-hover {
    opacity: 0;
    transform: translate(16.44px, 16.44px);
    transition: opacity 500ms, transform 300ms;
}

.keycap {
    opacity: 1;
    transition: opacity 300ms, transform 300ms ease-out;
}

.hitbox {
    fill: #00000000;
}

.animation-blocker {
  fill: var(--background);
}

@media (max-width: 700px) {
    .logo {
        width: 60vw;
        height: 69.28520vw;
    }

    .keycap-svg {
        width: 85.155vw;
        height: 57.501vw;
        margin: 3vw;
    }

}