:root {
  --background:#FFFFFF;
  --primaryHome:#7C349E;
  --secondaryHome:#600C88;
}

.center {
  text-align: center;
  align-items: center;
}

.background {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

html, body {
  max-width: 100%;
}