:root {
  --background:#FFFFFF;
  --primaryHome:#7C349E;
  --secondayHome:#600C88;
}

header {
  margin: auto;
  font-size: 100px;
  width: 50%;
  color: rgb(0, 0, 0);
}

.center {
  text-align: center;
  align-items: center;
}

.background {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.widget {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 5px solid gray;
  background-color: coral;
  margin: 0;
  color: orange;
}

.example-enter {
  opacity: 1;
  color: red;
}

.example-enter.example-enter-active {
  opacity: 0.0;
  transition: opacity 1000ms ease-out;
  color: orange;
}

.example-leave {
  opacity: 0.1;
  transition: opacity 1000ms ease-in;
  color: blue;
}

.example-leave.example-leave-active {
  opacity: 0.1;
  transition: opacity 300ms ease-in;
  color: blue;
}